.floss-thread-list-headers {
  display: flex;
  justify-content: space-between;
  align-content: center;
  font-weight: bold;

  div {
    width: 15%;
    text-align: right;
    color: mediumslateblue;
  }
}

.floss-thread-list {
  list-style: none;
  padding-left: 0;
}

.floss-thread {
  display: flex;
  justify-content: space-between;
  align-content: center;

  div {
    width: 15%;
    text-align: right;
    padding: 3px;
  }
  div:hover {
    cursor: pointer;
    background-color: mediumslateblue;
  }
}
